*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    font-size: 1.3rem;
  
    background-image: linear-gradient(rgba(255, 192, 203, 0.832), rgba(255, 192, 203, 0.832)), url('../assets/image.png');
}
.nav1 a{
    color: black;
    font-weight: bold;
    margin-right: 3rem;
text-decoration: none;
}
.nav1 a:hover{
    color: rgba(0, 0, 0, 0.681);
    border-bottom: 2px solid #000;
}
.profile{
    width: 2rem;
}

.nav2{
    display: flex;
    align-items: center;
   
}
.name{
    margin-right: 1rem;
    color: rgb(87, 29, 39);
    font-weight: bold;
    text-shadow: 1px 1px 10px #000;
}
