* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: #333;
}

nav h2 {
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 25px;
}